body {
  width: 99vw;
  height: 200vh;
  overflow-x: hidden;
  background-color: #111827;
  font-family: 'Inter', sans-serif;
}

button:hover {
  cursor: pointer;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.headersquare {
  width: 100%;
  height: 146px;
}

.headersquare h3 {
  position: absolute;
  top: 72px;
  left: 503px;
}

.heroicons--squares-2x2-solid {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3zM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.topblueSquare,
.topgreySquare {
  width: 43px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topSquares {
  display: flex;
  position: absolute;
  top: 85px;
  right: 240px;
}

.topblueSquare {
  background-color: #3B82F6;
  border-radius: 8px 0 0 8px;
}

.topgreySquare {
  background-color: #374151;
  border-radius: 0 8px 8px 0;
}

.pixel--bars-solid {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M22 11h1v2h-1v1H2v-1H1v-2h1v-1h20zm0 8h1v2h-1v1H2v-1H1v-2h1v-1h20zm1-16v2h-1v1H2V5H1V3h1V2h20v1z'/%3E%3C/svg%3E");
}

.as {
  margin-left: 503px;
}

.opinion {
  width: 48px;
  height: auto;
  background-color: #374151;
  border-radius: 10px 0 0 10px;
  display: flex;
}

.main {
  width: 1112px;
  height: fit-content;
  background-color: #1F2937;
  border-radius: 0 10px 10px 0;
  padding: 16px;
  box-sizing: border-box;
}


.general {
  display: flex;
  border: 1px solid #374151;
  width: 1160px;
  border-radius: 11px;
  transition: 200ms transform ease;
  margin-bottom: 10px;
}

.general:hover {
  transform: translate(0, -3px);
  transition: 200ms transform ease;
}

.mingcute--arrow-up-fill {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%239CA3AF' d='M13.06 3.283a1.5 1.5 0 0 0-2.12 0L5.281 8.939a1.5 1.5 0 0 0 2.122 2.122L10.5 7.965V19.5a1.5 1.5 0 0 0 3 0V7.965l3.096 3.096a1.5 1.5 0 1 0 2.122-2.122z'/%3E%3C/g%3E%3C/svg%3E");
}

#downarrow {
  transform: rotate(180deg);
  transition: 200ms;
}

.mingcute--arrow-up-fill:hover {
  transform: scale(1.2);
  transition: 200ms;
}

#downarrow:hover {
  transform: rotate(180deg) scale(1.2);
}

.rating {
  position: relative;
  top: 22px;
  left: 12px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 24px;
  align-items: center;
  gap: 0px;
}

.rating > * {
  flex-shrink: 0;
}

.number {
  font-weight: 700;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.postguy{
  gap: 10px;
  display: flex;
}

.postguy p {
  font-size: 12px;
  line-height: 1;
  position: relative;
  color: #90A1AF;
  bottom: 0;
}
.postguy p:first-child {
  color: #2E7BF6;
  font-weight: 600;
}
.Postheader{
  color: whitesmoke;
  font-size: 16px;
margin: 0;
margin-bottom: 8px;
}
.posttext{
  font-size: 14px;
  margin-top: 0;
}
.readmore{
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
  color: #2E7BF6;
  outline: none;
  padding-left: 0;
}
.readmore:hover, .readmore:focus-visible .readmore:focus{
  outline: none;
  border: none;
}
.lineunderreadmore{
  width: 1078px;
  color: #374151;
  border: none;
  height: 1px;
  background-color: #374151;
  margin-bottom: 8px;
}
.commenticon{
  font-size: 13px;
  color: #919191;
}
.commentpart{
  font-size: 13px;
  display: flex;
    color: #afafaf;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap:5px;
      margin-left: 15px;
}
.commentpart:hover{
  color: #ffffff;
  transform: scale(1.05);
  transition: 200ms;
}
.underpost{
  display: flex;
  cursor: pointer;
  margin: 0;
}