.general {
  display: flex;
  border: 1px solid #374151;
  width: fit-content;
  border-radius: 11px;
  transition: 200ms transform ease;
  margin-bottom: 10px;
}

.general:hover {
  transform: translate(0, -3px);
  transition: 200ms transform ease;
}

/* Voting section on the left */
.opinion {
  width: 48px;
  background-color: #374151;
  border-radius: 10px 0 0 10px;
  display: flex;
  padding: 0;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 5px;
}

/* Upvote and downvote button styles */
.mingcute--arrow-up-fill {
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%239CA3AF' d='M13.06 3.283a1.5 1.5 0 0 0-2.12 0L5.281 8.939a1.5 1.5 0 0 0 2.122 2.122L10.5 7.965V19.5a1.5 1.5 0 0 0 3 0V7.965l3.096 3.096a1.5 1.5 0 1 0 2.122-2.122z'/%3E%3C/g%3E%3C/svg%3E");
  transition: transform 200ms ease;
}

.mingcute--arrow-up-fill.active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%233b82f6' d='M13.06 3.283a1.5 1.5 0 0 0-2.12 0L5.281 8.939a1.5 1.5 0 0 0 2.122 2.122L10.5 7.965V19.5a1.5 1.5 0 0 0 3 0V7.965l3.096 3.096a1.5 1.5 0 1 0 2.122-2.122z'/%3E%3C/g%3E%3C/svg%3E");
  outline: none;
}

#downarrow {
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.10z'/%3E%3Cpath fill='%239CA3AF' d='M13.06 3.283a1.5 1.5 0 0 0-2.12 0L5.281 8.939a1.5 1.5 0 0 0 2.122 2.122L10.5 7.965V19.5a1.5 1.5 0 0 0 3 0V7.965l3.096 3.096a1.5 1.5 0 1 0 2.122-2.122z'/%3E%3C/g%3E%3C/svg%3E");
  transition: transform 200ms ease;
  cursor: pointer;
}

#downarrow.active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%233b82f6' d='M13.06 3.283a1.5 1.5 0 0 0-2.12 0L5.281 8.939a1.5 1.5 0 0 0 2.122 2.122L10.5 7.965V19.5a1.5 1.5 0 0 0 3 0V7.965l3.096 3.096a1.5 1.5 0 1 0 2.122-2.122z'/%3E%3C/g%3E%3C/svg%3E");
  outline: none;
}

/* Hover scaled effect on votes */
.mingcute--arrow-up-fill:hover,
.mingcute--arrow-up-fill:active,
.mingcute--arrow-up-fill:focus,
.mingcute--arrow-up-fill:focus-visible {
  transform: scale(1.2);
  outline: none;
}

#downarrow:hover,
#downarrow:active,
#downarrow:focus,
#downarrow:focus-visible {
  transform: rotate(180deg) scale(1.2);
  outline: none;
}

/* Voting number */
.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 0;
}


.rating>* {
  flex-shrink: 0;
}

.number {
  font-weight: 700;
  font-size: 14px;
  color: white;
}

/* Post info */
.postguy {
  gap: 10px;
  display: flex;
  align-items: baseline;
  margin-bottom: 6px;
}

.postguy p {
  font-size: 12px;
  line-height: 1;
  color: #90A1AF;
  margin: 0;
}

.postguy p:first-child {
  color: #2E7BF6;
  font-weight: 600;
}

/* Post Header */
.Postheader {
  color: whitesmoke;
  font-size: 16px;
  margin: 0 0 8px 0;
}

/* Post Text */
.posttext {
  font-size: 14px;
  margin: 0;
  max-height: 120px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  color: #d1d5db;
  white-space: pre-line;
}

.posttext.expanded {
  max-height: 2000px;
  overflow: visible;
  transition: max-height 0.5s ease-in-out;
}

/* Read more button */
.readmore {
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
  color: #2E7BF6;
  border: none;
  cursor: pointer;
  margin-top: 4px;
  padding: 0;
}

.readmore:hover,
.readmore:focus-visible,
.readmore:focus {
  text-decoration: underline;
  outline: none;
}

/* Divider under read more */
.lineunderreadmore {
  width: calc(100vw - 405px);
  height: 1px;
  background-color: #374151;
  border: none;
  margin: 8px 0 8px 0;
}

/* Comments and share section */
.underpost {
  display: flex;
  cursor: pointer;
  margin: 0;
  gap: 16px;
}

.commentpart {
  font-size: 13px;
  display: flex;
  color: #afafaf;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color 200ms, transform 200ms;
}

.commentpart:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.commenticon {
  font-size: 13px;
  color: inherit;
}

/* Star Rating */
.star-rating {
  display: flex;
  align-items: center;
  gap: 0.208vw;
  margin: 4px 0 10px 0;
}

.star {
  font-size: 0.781vw;
  background: none;
  border: none;
  padding: 0;
  color: #9CA3AF;
  cursor: pointer;
  transition: transform 200ms ease, color 200ms ease;
  outline: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.star:hover {
  transform: scale(1.3);
}

.star.active {
  color: #FFb000;
}

.star:focus-visible {
  outline: 2px solid #FFb000;
  outline-offset: 2px;
}

.main {
  width: calc(100vw - 368px);
}

.lineunderreadmore {
  width: 99%;
}

@media only screen and (max-width: 1600px) {
  .main {
    width: 1100px;
  }

}

@media only screen and (max-width: 1440px) {
  .main {
    width: calc(100vw - 368px);
  }

}

@media only screen and (max-width: 1920px) {
  .main {
    width: 1100px;
  }

}

@media only screen and (max-width: 1280px) {
  .main {
    width: calc(100vw - 368px);
  }

}

.allcomment {
  padding-top: 0.5rem;
  border-top: 1px solid #374151;
  width: 99%;
  height: fit-content;
  margin-top: 4px;
}

.commentexample {
  height: fit-content;
  width: inherit;
  background-color: #374151;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.commentTop {
  gap: 14px;
  display: flex;
  margin: 0;
  font-size: 13px;
}

#Name {
  color: #f9fafb;
  margin: 0;
}

#date {
  margin: 0;
  color: #9CA3AF;
}

.comments {
  font-size: 13px;
}

.commentPost {
  display: flex;
  gap: 14px;
}

.commentPost input {
  background-color: transparent;
  border: 1px solid #374151;
  border-radius: 4px;
  width: 90%;
  font-family: "Inter";
  height: 39px;
  padding-left: 20px;
}

.commentPost button {
  background-color: #2E7BF6;
  font-size: 16px;
  width: 8%;
  border: none;
}

.commentPost button:hover {
  background-color: #305cd6;
  transition: 200ms;
}

.commentPost input:focus {
  box-shadow: 0 2px 8px rgba(59, 130, 246, 0.5);
  animation: pulse 1.5s infinite ease-in-out;
}

/* Pulsating focus animation */
@keyframes pulse {
  0% {
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
  }

  50% {
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.7);
  }

  100% {
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
  }
}